body{
    background-color: #1F1C2C;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F1C2C;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.logo img {
    transition: transform 0.3s ease;
}

.navbar a:hover {
    font-size: 20px;
    font-weight: bold;
}

.logo:hover img {
    transform: scale(1.1);
}

.darken-bg {
    background-color: rgba(31, 28, 44, 0.9);
}

.footer {
    background-color: #1F1C2C;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.social-item {
    margin: 0 30px;
}

.social-item img {
    width: 40px;
}

.legal-info {
    font-size: 14px;
}


.legal-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.legal-info a:hover {
    color: #FFD700;
}