.access-info h1{
    font-size: 4em;
    margin-top: 25vh;
}
.access-info p{
    font-size: 1.5em;
}

.login-section, .register-section {
    box-sizing: border-box;
}

.login-section h2, .register-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.login-form label, .register-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input,  .register-form input {
    max-width: 100%;
    width: 90%;
    padding: 8px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

.login-button, .register-button {
    padding: 10px 20px; 
    background-color: #414345; 
    color: white;
    border: white;
    border-width: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 3vh;
    transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover {
    background-color: #2c2e30;
}

@media screen and (min-width: 800px){
    .login-section{
        width: 41.66%;
        float: left;
        margin-left: 10vh;
    }

    .register-section{
        width: 41.66%;
        float: right;
    }
    .login-form input,  .register-form input {
        width: 70%;
    }
    .footer{
        clear: both;
        position: relative;
        top: 10vh;
    }
}
