#banner video{
    width: 95em;
}

#latest-news img{
    width: 400px;
    height: auto;
}


#banner-content {
    text-align: center;
}

#banner-content h1 {
    font-size: 4em;
}

#banner-content p {
    font-size: 1.2em;
}

table, th, td {
    border: 1px solid black;
}