body{
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {

}

#banner video{
    width: 95em;
}

#latest-news img{
    width: 400px;
    height: auto;
}

#banner-content {
    text-align: center;
}

#banner-content h1 {
    font-size: 4em;
}

#banner-content p {
    font-size: 1.2em;
}

#menu-button {
    
}