#latest-news img{
    width: 500px;
    height: auto;
    display: block;
    float: left;
    padding-left: 3%;
    margin-left: auto;
    margin-right: 3%;
    margin-left: 2%;
}
#latest-title{
    padding-left: 5%;
    color: blueviolet;
}
#latest-text{
    padding-left: 5%;
    padding-right: 5%;
}
#latest-news-video video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}