@media screen and (min-width: 700px){
    div.columna2 {
        column-count: 2;
        column-gap: 20px;
        column-span: all;
        column-width: 500px;
    }
}
.columna2 {
    column-count: 1;
    column-gap: 20px;
    column-span: all;
    column-width: 500px;
  }
  .columna1 {
    column-count: 1;
    column-gap: 20px;
    column-span: all;
    column-width: 500px;
  }

#latest-news img{
    width: 100%;
    height: auto;
    display: block;
    padding-left: 3%;
}

#latest-news-right img{
    width: 100%;
    height: auto;
    display: block;
    padding-right: 3%;
}

.latest-text{
    margin: 2%;
    text-align: center;
}
#latest-news-video video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin-top: 10vh;
    margin-left: 5%;
}

#latest-title{
    margin-top: 25vh;
    margin-left: 5%;
    color: white;
}