#texto{
    padding-left: 20px;
    padding-right: 10px;
}
.wiki_video{
  text-align: center;
}
.infocaja {
    float: right;
    margin-right: 5vh;
    box-sizing: border-box;
    max-width: 300px;
    color: #dcddde;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: #1F1C2C;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }


  .infocaja .titulo {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  .infocaja .titulo h2 {
    font-size: 20px;
  }
  .infocaja .titulo h3 {
    font-size: 16px;
  }
  
  .infocaja-img {
    width: 100%;
  }

  .infocaja-fila .data-cabeza,
  .infocaja-fila .data-cuerpo {
    display: inline-block;
    margin: 1px;
    font-size: 16px;
  }
